In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics

import warnings
warnings.filterwarnings("ignore")

In [53]:
df = pd.read_csv("data/adult_income.csv")

In [54]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [55]:
df.shape

(48842, 15)

In [56]:
df.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [57]:
df.duplicated().sum()

52

In [58]:
df.drop_duplicates(inplace=True)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48790 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48790 non-null  int64
 1   workclass        48790 non-null  object
 2   fnlwgt           48790 non-null  int64
 3   education        48790 non-null  object
 4   educational-num  48790 non-null  int64
 5   marital-status   48790 non-null  object
 6   occupation       48790 non-null  object
 7   relationship     48790 non-null  object
 8   race             48790 non-null  object
 9   gender           48790 non-null  object
 10  capital-gain     48790 non-null  int64
 11  capital-loss     48790 non-null  int64
 12  hours-per-week   48790 non-null  int64
 13  native-country   48790 non-null  object
 14  income           48790 non-null  object
dtypes: int64(6), object(9)
memory usage: 6.0+ MB

In [60]:
df.age.unique()

array([25, 38, 28, 44, 18, 34, 29, 63, 24, 55, 65, 36, 26, 58, 48, 43, 20,
       37, 40, 72, 45, 22, 23, 54, 32, 46, 56, 17, 39, 52, 21, 42, 33, 30,
       47, 41, 19, 69, 50, 31, 59, 49, 51, 27, 57, 61, 64, 79, 73, 53, 77,
       80, 62, 35, 68, 66, 75, 60, 67, 71, 70, 90, 81, 74, 78, 82, 83, 85,
       76, 84, 89, 88, 87, 86], dtype=int64)

In [61]:
df.workclass.unique()

array(['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov',
       'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [62]:
for col in df.columns:
    print(col,":",df[col].unique())

age : [25 38 28 44 18 34 29 63 24 55 65 36 26 58 48 43 20 37 40 72 45 22 23 54
 32 46 56 17 39 52 21 42 33 30 47 41 19 69 50 31 59 49 51 27 57 61 64 79
 73 53 77 80 62 35 68 66 75 60 67 71 70 90 81 74 78 82 83 85 76 84 89 88
 87 86]
workclass : ['Private' 'Local-gov' '?' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay' 'Never-worked']
fnlwgt : [226802  89814 336951 ... 129912 255835 257302]
education : ['11th' 'HS-grad' 'Assoc-acdm' 'Some-college' '10th' 'Prof-school'
 '7th-8th' 'Bachelors' 'Masters' 'Doctorate' '5th-6th' 'Assoc-voc' '9th'
 '12th' '1st-4th' 'Preschool']
educational-num : [ 7  9 12 10  6 15  4 13 14 16  3 11  5  8  2  1]
marital-status : ['Never-married' 'Married-civ-spouse' 'Widowed' 'Divorced' 'Separated'
 'Married-spouse-absent' 'Married-AF-spouse']
occupation : ['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' '?'
 'Other-service' 'Prof-specialty' 'Craft-repair' 'Adm-clerical'
 'Exec-managerial' 'Tech-support' 'Sales' 'Priv-house-serv'
 'Transport-moving' 'Handlers-cleaners' 'Armed-Forces']
relationship : ['Own-child' 'Husband' 'Not-in-family' 'Unmarried' 'Wife' 'Other-relative']
race : ['Black' 'White' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']
gender : ['Male' 'Female']
capital-gain : [    0  7688  3103  6418  7298  3908 14084  5178 15024 99999  2597  2907
  4650  6497  1055  5013 27828  4934  4064  3674  2174 10605  3418   114
  2580  3411  4508  4386  8614 13550  6849  2463  3137  2885  2964  1471
 10566  2354  1424  1455  3325  4416 25236   594  2105  4787  2829   401
  4865  1264  1506 10520  3464  2653 20051  4101  1797  2407  3471  1086
  1848 14344  1151  2993  2290 15020  9386  2202  3818  2176  5455 11678
  7978  7262  6514 41310  3456  7430  2414  2062 34095  1831  6723  5060
 15831  2977  2346  3273  2329  9562  2635  4931  1731  6097   914  7896
  5556  1409  3781  3942  2538  3887 25124  7443  5721  1173  4687  6612
  6767  2961   991  2036  2936  2050  1111  2228 22040  3432  6360  2009
  1639 18481  2387]
capital-loss : [   0 1721 1876 2415 1887  625 1977 2057 1429 1590 1485 2051 2377 1672
 1628 1902 1602 1741 2444 1408 2001 2042 1740 1825 1848 1719 3004 2179
 1573 2205 1258 2339 1726 2258 1340 1504 2559 1668 1974 1980 1564 2547
 2002 1669 1617  323 3175 2472 2174 1579 2129 1510 1735 2282 1870 1411
 1911 1651 1092 1762 2457 2231 2238  653 1138 2246 2603 2392 1944 1380
 2465 1421 3770 1594  213 2149 2824 1844 2467 2163 1816 1648 2206 2352
  419 1539  880  810  974 4356 2489 1755 3683 2267 2080  155 3900 2201
 2754]
hours-per-week : [40 50 30 32 10 39 35 48 25 20 45 47  6 43 90 54 60 38 36 18 24 44 56 28
 16 41 22 55 14 33 37  8 12 70 15 75 52 84 42 80 68 99 65  5 17 72 53 29
 96 21 46  3  1 23 49 67 76  7  2 58 26 34  4 51 78 63 31 92 77 27 85 13
 19 98 62 66 57 11 86 59  9 64 73 61 88 79 89 74 69 87 97 94 82 91 81 95]
native-country : ['United-States' '?' 'Peru' 'Guatemala' 'Mexico' 'Dominican-Republic'
 'Ireland' 'Germany' 'Philippines' 'Thailand' 'Haiti' 'El-Salvador'
 'Puerto-Rico' 'Vietnam' 'South' 'Columbia' 'Japan' 'India' 'Cambodia'
 'Poland' 'Laos' 'England' 'Cuba' 'Taiwan' 'Italy' 'Canada' 'Portugal'
 'China' 'Nicaragua' 'Honduras' 'Iran' 'Scotland' 'Jamaica' 'Ecuador'
 'Yugoslavia' 'Hungary' 'Hong' 'Greece' 'Trinadad&Tobago'
 'Outlying-US(Guam-USVI-etc)' 'France' 'Holand-Netherlands']
income : ['<=50K' '>50K']

In [63]:
df.workclass.unique()

array(['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov',
       'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [64]:
df[df.workclass == '?'].shape

(2795, 15)

In [65]:
df['workclass'].value_counts()

workclass
Private             33860
Self-emp-not-inc     3861
Local-gov            3136
?                    2795
State-gov            1981
Self-emp-inc         1694
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

In [66]:
df.workclass = df['workclass'].replace("?",statistics.mode(df.workclass))

In [67]:
df['workclass'].value_counts()
# df['workclass']

workclass
Private             36655
Self-emp-not-inc     3861
Local-gov            3136
State-gov            1981
Self-emp-inc         1694
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48790 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48790 non-null  int64
 1   workclass        48790 non-null  object
 2   fnlwgt           48790 non-null  int64
 3   education        48790 non-null  object
 4   educational-num  48790 non-null  int64
 5   marital-status   48790 non-null  object
 6   occupation       48790 non-null  object
 7   relationship     48790 non-null  object
 8   race             48790 non-null  object
 9   gender           48790 non-null  object
 10  capital-gain     48790 non-null  int64
 11  capital-loss     48790 non-null  int64
 12  hours-per-week   48790 non-null  int64
 13  native-country   48790 non-null  object
 14  income           48790 non-null  object
dtypes: int64(6), object(9)
memory usage: 6.0+ MB

In [69]:
df['education'].value_counts()

education
HS-grad         15770
Some-college    10863
Bachelors        8013
Masters          2656
Assoc-voc        2060
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           954
Prof-school       834
9th               756
12th              655
Doctorate         594
5th-6th           507
1st-4th           245
Preschool          81
Name: count, dtype: int64

In [70]:
df['marital-status'].unique()

array(['Never-married', 'Married-civ-spouse', 'Widowed', 'Divorced',
       'Separated', 'Married-spouse-absent', 'Married-AF-spouse'],
      dtype=object)

In [71]:
df['marital-status'].value_counts()

marital-status
Married-civ-spouse       22366
Never-married            16082
Divorced                  6630
Separated                 1530
Widowed                   1518
Married-spouse-absent      627
Married-AF-spouse           37
Name: count, dtype: int64

In [72]:
df['occupation'].unique()

array(['Machine-op-inspct', 'Farming-fishing', 'Protective-serv', '?',
       'Other-service', 'Prof-specialty', 'Craft-repair', 'Adm-clerical',
       'Exec-managerial', 'Tech-support', 'Sales', 'Priv-house-serv',
       'Transport-moving', 'Handlers-cleaners', 'Armed-Forces'],
      dtype=object)

In [73]:
df['occupation'].value_counts()

occupation
Prof-specialty       6165
Craft-repair         6102
Exec-managerial      6082
Adm-clerical         5606
Sales                5501
Other-service        4919
Machine-op-inspct    3017
?                    2805
Transport-moving     2355
Handlers-cleaners    2071
Farming-fishing      1485
Tech-support         1445
Protective-serv       982
Priv-house-serv       240
Armed-Forces           15
Name: count, dtype: int64

In [74]:
df['occupation'] = df['occupation'].replace("?",df['occupation'].mode()[0])

In [75]:
df['occupation'].value_counts()

occupation
Prof-specialty       8970
Craft-repair         6102
Exec-managerial      6082
Adm-clerical         5606
Sales                5501
Other-service        4919
Machine-op-inspct    3017
Transport-moving     2355
Handlers-cleaners    2071
Farming-fishing      1485
Tech-support         1445
Protective-serv       982
Priv-house-serv       240
Armed-Forces           15
Name: count, dtype: int64

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48790 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48790 non-null  int64
 1   workclass        48790 non-null  object
 2   fnlwgt           48790 non-null  int64
 3   education        48790 non-null  object
 4   educational-num  48790 non-null  int64
 5   marital-status   48790 non-null  object
 6   occupation       48790 non-null  object
 7   relationship     48790 non-null  object
 8   race             48790 non-null  object
 9   gender           48790 non-null  object
 10  capital-gain     48790 non-null  int64
 11  capital-loss     48790 non-null  int64
 12  hours-per-week   48790 non-null  int64
 13  native-country   48790 non-null  object
 14  income           48790 non-null  object
dtypes: int64(6), object(9)
memory usage: 6.0+ MB

In [77]:
df["relationship"].value_counts()

relationship
Husband           19703
Not-in-family     12557
Own-child          7569
Unmarried          5124
Wife               2331
Other-relative     1506
Name: count, dtype: int64

In [78]:
df["race"].value_counts()

race
White                 41714
Black                  4683
Asian-Pac-Islander     1517
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64

In [79]:
df["gender"].value_counts()

gender
Male      32614
Female    16176
Name: count, dtype: int64

In [80]:
df["native-country"] = df["native-country"].replace("?",df["native-country"].mode()[0])

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48790 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48790 non-null  int64
 1   workclass        48790 non-null  object
 2   fnlwgt           48790 non-null  int64
 3   education        48790 non-null  object
 4   educational-num  48790 non-null  int64
 5   marital-status   48790 non-null  object
 6   occupation       48790 non-null  object
 7   relationship     48790 non-null  object
 8   race             48790 non-null  object
 9   gender           48790 non-null  object
 10  capital-gain     48790 non-null  int64
 11  capital-loss     48790 non-null  int64
 12  hours-per-week   48790 non-null  int64
 13  native-country   48790 non-null  object
 14  income           48790 non-null  object
dtypes: int64(6), object(9)
memory usage: 6.0+ MB

In [82]:
df["income"].value_counts()

income
<=50K    37109
>50K     11681
Name: count, dtype: int64

In [83]:
df.sample(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
45654,41,Private,180181,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K
25098,39,Private,120130,Some-college,10,Separated,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
10681,30,Private,226525,10th,6,Divorced,Transport-moving,Own-child,White,Male,0,0,40,United-States,<=50K
36273,43,Private,184378,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,35,United-States,<=50K
1202,31,Private,250087,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K

In [84]:
## we are not using native country column to predict because there are so many unique values
## column education and education_number are same we have to drop oneof them
df = df.drop(["native-country","educational-num"],axis = 1)

In [85]:
# indepentent and dependent variable
X = df.drop("income",axis = 1)
df['income'] = df['income'].map({"<=50K":1,">50K":2})
y = df['income']


from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size =0.3,random_state = 1)

In [86]:
# Segregating numerical and categorical variables
categorical_cols = X.select_dtypes(include='object').columns
numerical_cols = X.select_dtypes(exclude='object').columns

In [87]:
numerical_cols

Index(['age', 'fnlwgt', 'capital-gain', 'capital-loss', 'hours-per-week'], dtype='object')

In [88]:
categorical_cols

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender'],
      dtype='object')

In [89]:
df

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,income
0,25,Private,226802,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,1
1,38,Private,89814,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,1
2,28,Local-gov,336951,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,2
3,44,Private,160323,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,2
4,18,Private,103497,Some-college,Never-married,Prof-specialty,Own-child,White,Female,0,0,30,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,1
48838,40,Private,154374,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,2
48839,58,Private,151910,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,1
48840,22,Private,201490,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,1
48841,52,Self-emp-inc,287927,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,2

In [90]:
# Define the custom ranking for each ordinal variable
workclass = ["Never-worked","Without-pay","Private","Federal-gov","Self-emp-inc","State-gov","Local-gov","Self-emp-not-inc"]
education = ["Preschool","1st-4th","5th-6th","7th-8th","9th","10th","11th","12th","HS-grad","Some-college","Assoc-voc","Assoc-acdm","Bachelors","Masters","Prof-school","Doctorate"]
occupation = ['Machine-op-inspct', 'Farming-fishing', 'Protective-serv',
       'Prof-specialty', 'Other-service', 'Craft-repair', 'Adm-clerical',
       'Exec-managerial', 'Tech-support', 'Sales', 'Priv-house-serv',
       'Transport-moving', 'Handlers-cleaners', 'Armed-Forces']
relationship = ['Own-child', 'Husband', 'Not-in-family', 'Unmarried', 'Wife',
       'Other-relative']
race = ['Black', 'White', 'Asian-Pac-Islander', 'Other',
       'Amer-Indian-Eskimo']
gender = ['Male', 'Female']
marital_status = ['Never-married', 'Married-civ-spouse', 'Widowed', 'Divorced',
       'Separated', 'Married-spouse-absent', 'Married-AF-spouse']

In [91]:
categorical_cols

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender'],
      dtype='object')

In [92]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [93]:
ordinal_cat = ['workclass','education','marital_status','occupation','relationship','race','gender']
num_pipeline = Pipeline(
    steps= [
        ("imputer",SimpleImputer(strategy="median")),
        ("scaler",StandardScaler())
    ]
)

cat_pipeline = Pipeline(
    steps = [
        ("imputer",SimpleImputer(strategy= "most_frequent")),
        ("encoding",OrdinalEncoder()),
        ("scaling",StandardScaler())
    ]
)

In [94]:
preprocessor=ColumnTransformer([
('num_pipeline',num_pipeline,numerical_cols),
('cat_pipeline',cat_pipeline,categorical_cols)
])

In [95]:
preprocessor.fit_transform(X_train)

array([[ 1.33804409, -0.25840117, -0.1454919 , ..., -0.27689367,
         0.39489341, -1.42126144],
       [ 1.19205342,  0.65379889, -0.1454919 , ..., -0.90031972,
         0.39489341,  0.70360032],
       [-0.26785333, -0.46533598,  0.5350534 , ..., -0.90031972,
         0.39489341,  0.70360032],
       ...,
       [ 2.35997882, -0.39451719, -0.1454919 , ..., -0.27689367,
         0.39489341, -1.42126144],
       [-1.50877406,  1.95644   , -0.1454919 , ..., -0.27689367,
         0.39489341, -1.42126144],
       [ 0.90007207, -1.09155723, -0.1454919 , ..., -0.27689367,
         0.39489341, -1.42126144]])

In [96]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [97]:
X_train.head()

,num_pipeline__age,num_pipeline__fnlwgt,num_pipeline__capital-gain,num_pipeline__capital-loss,num_pipeline__hours-per-week,cat_pipeline__workclass,cat_pipeline__education,cat_pipeline__marital-status,cat_pipeline__occupation,cat_pipeline__relationship,cat_pipeline__race,cat_pipeline__gender
0,1.338044,-0.258401,-0.145492,-0.217840,0.370274,-0.085028,0.187455,-1.741040,-1.546126,-0.276894,0.394893,-1.421261
1,1.192053,0.653799,-0.145492,4.463784,-0.033570,-1.879250,0.960383,-0.414050,0.721398,-0.900320,0.394893,0.703600
2,-0.267853,-0.465336,0.535053,-0.217840,-0.033570,2.606305,1.218026,-0.414050,1.477239,-0.900320,0.394893,0.703600
3,1.192053,-0.686265,-0.145492,-0.217840,2.389496,2.606305,-0.070187,-0.414050,0.721398,-0.900320,-3.122789,0.703600
4,-0.194858,1.611133,-0.145492,-0.217840,0.774119,-0.085028,-0.327830,0.912939,-0.790284,0.346532,0.394893,0.703600

In [98]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score ,classification_report,confusion_matrix
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.7981826877092301

In [99]:
model = LogisticRegression()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.8025551684088269

In [100]:
import numpy as np
def evaluate_model(true, predicted):
    acs = accuracy_score(true, predicted)
    cmx = confusion_matrix(true, predicted)
    crp = classification_report(true, predicted)
   
    return acs,cmx,crp

In [101]:
## Train multiple models
## Model Ecaluation
models={
    'LogisticRegression':LogisticRegression(),
    'GaussianNB':GaussianNB(),
    'DecisionTreeClassifier':DecisionTreeClassifier(),
    'RandomForestClassifier':RandomForestClassifier(),
    'AdaBoostClassifier':AdaBoostClassifier()
}
trained_model_list=[]
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    acs,cms,crp=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("accuracy score:",acs)
    print("confusion matrix:",cms)
    print("classification",crp)

    r2_list.append(acs)
    
    print('='*35)
    print('\n')

LogisticRegression
Model Training Performance
accuracy score: 0.8025551684088269
confusion matrix: [[10668   482]
 [ 2408  1079]]
classification               precision    recall  f1-score   support

           1       0.82      0.96      0.88     11150
           2       0.69      0.31      0.43      3487

    accuracy                           0.80     14637
   macro avg       0.75      0.63      0.65     14637
weighted avg       0.79      0.80      0.77     14637

===================================


GaussianNB
Model Training Performance
accuracy score: 0.7981826877092301
confusion matrix: [[10621   529]
 [ 2425  1062]]
classification               precision    recall  f1-score   support

           1       0.81      0.95      0.88     11150
           2       0.67      0.30      0.42      3487

    accuracy                           0.80     14637
   macro avg       0.74      0.63      0.65     14637
weighted avg       0.78      0.80      0.77     14637

===================================


DecisionTreeClassifier
Model Training Performance
accuracy score: 0.8090455694472911
confusion matrix: [[9684 1466]
 [1329 2158]]
classification               precision    recall  f1-score   support

           1       0.88      0.87      0.87     11150
           2       0.60      0.62      0.61      3487

    accuracy                           0.81     14637
   macro avg       0.74      0.74      0.74     14637
weighted avg       0.81      0.81      0.81     14637

===================================


RandomForestClassifier
Model Training Performance
accuracy score: 0.8518138962902234
confusion matrix: [[10417   733]
 [ 1436  2051]]
classification               precision    recall  f1-score   support

           1       0.88      0.93      0.91     11150
           2       0.74      0.59      0.65      3487

    accuracy                           0.85     14637
   macro avg       0.81      0.76      0.78     14637
weighted avg       0.84      0.85      0.85     14637

===================================


AdaBoostClassifier
Model Training Performance
accuracy score: 0.8579626972740315
confusion matrix: [[10465   685]
 [ 1394  2093]]
classification               precision    recall  f1-score   support

           1       0.88      0.94      0.91     11150
           2       0.75      0.60      0.67      3487

    accuracy                           0.86     14637
   macro avg       0.82      0.77      0.79     14637
weighted avg       0.85      0.86      0.85     14637

===================================